.sidebarOption{
    color: grey;
    padding: .5rem 0;
    transition: color .2s;
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
        margin-right: 2rem;
    }

    &:hover{
        color: white;
    }

    p{
        font-size: 1.4rem;
    }
}