@import "../../../sass/abstract/variables";

.body{
    background: linear-gradient(rgb(91, 87, 115), rgba(0,0,0,1));
    color: white;
    padding: 3rem;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;

    &__info{
        display: flex;
        align-items: flex-end;
        padding: 1rem;

        &_img{
            display: flex;
            overflow: hidden;
            min-height: 15rem;
            min-width: 15rem;
            
            img{
                min-height: 15rem;
                min-width: 15rem;
                height: 15vw;
                object-fit: contain;
            }

            box-shadow: 0 4px 60px rgba(0,0,0,.5);
        }

        &_text{
            flex: 1;
            // background-color: tomato;
            margin-left: 2rem;

            h2 {
                font-size: 5.8rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }


    &__songs {
        margin: 2rem 0;
        display: grid;
    }
    
    &__icons {
        display: flex;
        align-items: center;
        margin: 2rem 1rem;

        .icon{
            transition: all .2s;
            cursor: pointer;
            &:hover{
                color: $spotify-green;
            }
        }
    }
}