body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 1px;
    // color: $primary-color-dark;
}

a {
    color: inherit;
    text-decoration: none;
}
