.song{

    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1;
    height: 100%;
    
    
    &__info {
        margin-left: 2rem;
        flex: 1;
        
        h1{
            font-size: 1.6rem;
        }
        
        p {
            font-size: 1.4rem;
            margin-top: 3px;
            color: grey;
        }
    }
}

.position{
    margin-right: 2.5rem;

    p{
        color: grey;
    }

    .icon{
        cursor: pointer;
    }
}


.song_container {
    padding: 2rem;
    display: flex;
    margin-left: 2rem;
    align-items: center;
    
    &:hover {
        background-color: black;
        opacity: .8;
    }
}